* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Header Styling */
.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 40px;
    background: white;
    border-bottom: 1px solid #ddd;
}
.logo {
    display: flex;
    align-items: flex-end;
}
.header img {
    height: 40px;
}
.nav-right {
    margin-left: auto;
}
.nav-left {
    margin-right: auto;
}
.nav-left a, .nav-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
}
.nav-left a:hover, .nav-right a:hover {
    color: #4285f4;
}

/* Top section styling */
.info-content {
    background-image: url(Images/top-section.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 120px 20px;
    height: 500px;
}
.info-content h1 {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: lighter;
}
.info-content p {
    max-width: 350px;
    margin: 0 auto 20px;
    margin-bottom: 25px;
}
.button {
    display: inline-block;
    background: #4285f4;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    width: 145px;
    height: 45px;
}
.button:hover {
    background: #357ae8;
}

/* Help text styling */
.help {
    background: white;
    text-align: center;
    padding: 40px 20px;
}
.help h2 {
    font-weight: lighter;
    border-bottom: 30px;
    font-size: 35px;
}
.help p {
    font-size: 16px;
}

/* Video section styling */
.sug-videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px 15px;
}
.video {
    max-width: 350px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}
.video img {
    width: 100%;
    height: auto;
    display: block;
}
.video .video-title {
    font-size: 16px;
    font-weight: lighter;
    padding: 10px;
    margin: 0;
}
.video .video-detail {
    font-size: 14px;
    color: 555;
    text-decoration: none;
    padding: 5px;
    margin-right: 125px;
    margin-left: -80px;
    color: #333;
}
.video .video-actions {
    background-color: lightgray;
    border-top: 1px solid #eee;
    border-radius: 6px;
}
.video .video-actions a {
    text-decoration: none;
    padding: 5px;
    margin-right: 110px;
    margin-left: -80px;
    color: #333;
}
.video .video-actions a:hover {
    color: #357ae8
}

/* Features section styling */
.features {
    text-align: center;
    background: white;
    padding: 40px 20px;
}
.features h2 {
    font-weight: lighter;
    border-bottom: 30px;
    font-size: 40px;
}
.feature-types {
    
}